<div class="container" class="a">
    <body >  
        <div class="title"> <h2 >Insert {{cartName}}</h2> </div>
        
        <br>
     
        
       <b>
         <div class="form-group">
             <label for="name">Name of BusinessCart:</label>
             <input type="text" class="form-control" placeholder="" id="bname" #bname>
           </div> 
           <div class="form-group">
            <label for="name">Business Details:</label>
            <input type="text" class="form-control" placeholder="" id="dname" #dname>
          </div>
        
           <div class="form-group">
            <label for="name">Name of ClientCart:</label>
            <input type="text" class="form-control" placeholder="" id="cname" #cname>
          </div>
          <div class="form-group">
            <label for="name">Client Details:</label>
            <input type="text" class="form-control" placeholder="" id="dname" #dname>
          </div>
         </b>
        
           
           
        
     
         <div class="form-group">
         <label>
           <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> I Agree
         </label>
     
         <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
         </div>
         <div class="clearfix">
             <button type="button" class="btn btn-primary" 
             (click)="insertRecord(bname,cname)"
            >Save</button>
             <button type="button" class="btn btn-primary">Reset</button>
         </div>
       
     </body>
     
    </div>
    <!-- (click)="insertRecord(name,dob,lang,edu,lang,loc,emailId,mo,pw)" -->
    <!-- [disabled]="!form.valid" -->